In [3]:
import random
import pandas as pd
import csv

In [4]:
my_data = pd.read_csv(r'C:\Users\Jordan\Downloads\Pandas Assignment 1\US_GDP.csv')
my_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [5]:
my_data.dtypes

date     object
GDP     float64
dtype: object

In [6]:
my_data['date'] = pd.to_datetime(my_data['date'])
my_data.set_index('date', inplace = True)
my_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [9]:
my_data.to_csv(r'C:\Users\Jordan\Downloads\Pandas Assignment 1\US_GDP_date_index.csv')